#abu {
    margin-top: 0px;
}

.page-header {
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    background-color: #869AAC;
}

#map {
    height: 400px;
    width: 100%;
}

span.map-section {
    font-variant: small-caps;
}

#instructions {
    position: absolute;
    float: left;
    z-index: 1000;
}

#model-building {
    /*position: absolute;*/
    /*height: 400px;*/
    padding-top: 180px;
    /*z-index: 100;*/
}

#model-canvas {
    /*position: absolute;*/
    /*z-index: 10;*/
}
.building-status {
    font-variant: small-caps;
}

#zfactor {
    margin-left: 1em;
    width: 5em;
}

.action-row {
    margin-bottom: 20px;
}

.control-row {
    background-color: #869AAC;
}

.control-row .col-header {
    font-variant: small-caps;
    font-size: 16px;
    color: white;
}

.val-suffix {
    font-size: 16px;
    color: white;
    font-weight: bold;
}
