html, body {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

header {
    height: 550px;
    background-image: url('assets/rainier.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #ff0;
}