#header-wrapper
{
    background: url('assets/rainier.jpg') center center;
    background-size: cover;
    background-position: 0% 10%;
}


	#header
	{
		position: relative;
		padding: 18em 0;
	}
    
    #logo {
    position: absolute;
    top: 50%;
        margin-top: 80px;
        padding: 40px;
        
        
        background-color: #aaa;
background-color: rgba(180,180,180,0.5);
text-align: left;
margin: 20px;
}

    .homepage #logo
    {
        
    }
    
    

    #logo h1
    {
        font-weight: 900;
        text-transform: uppercase;
        color: #fff;
        line-height: 36px;
        margin: 0px;
        letter-spacing: 0.25em;

    }
    
    #logo p
    {
        margin: 1.25em 0 0 0;
        display: block;
        letter-spacing: 0.2em;
        font-size: 0.9em;
        color: #000;
text-transform: uppercase;
    }
