body {
    padding: 1em;
}


.page-header h1 {
    font-family:     'Nunito', sans-serif;
}

#map {
    height: 400px;
    width: 100%;
}

#terrain-progress {
    padding-top: 180px;
}

.building-status {
    font-variant: small-caps;
}

#terrain-instructions {
    position: absolute;
    float: left;
    z-index: 1000;
}
