body {
    padding: 0; 
}

#app, nav>div.container {
    width: 1100px !important;
}

/* header */
.navbar {background-color: inherit;
         border: inherit;
         font-family: Nunito;
         margin-bottom: 0;}
.navbar, .navbar a { color: #000;}
.navbar-brand:hover , #navbar:hover{
        color: #000;
}   


/* sections */
.section-header {
    background-color: #000;
    color: #fff;
    font-family: Nunito;
    margin: .5em 0em;
}

.section-header:nth-of-type(1)  {
    margin: 0em;
    margin-bottom: .5em;
    
}

.section-header > div {
    margin: .25em 0em;
    padding: .25em .5em;
}


#map {
    height: 400px;
    width: 100%;
}

#terrain-progress {
    padding-top: 180px;
}

.building-status {
    font-variant: small-caps;
}

#terrain-instructions {
    position: absolute;
    float: left;
    z-index: 1000;
}

#model-reset, #terrain-reset {
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    margin: 10px;
    right: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
}

/* section one controls */

.control-row .col-header {
    font-variant: small-caps;
    font-size: 14px;
}

#zfactor {
    margin-left: 1em;
    width: 5em;
}

#gc-search-button {
    margin-left: 1em;
}

.ready-to-build {
    box-shadow: 0 0px 5px 5px rgba(0,180,0,.4);
}


/* section two controls */
#model-controls {
    padding-left: 1em;
}

div#model-controls>ul{ 
    padding: 0px;
}

div#model-controls>ul>li{
    list-style-type: none;
    margin-bottom: 1.2em;
    
}

div#model-controls .control-label {
    margin-bottom: .5em;
}

.control-label {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-variant: small-caps;
}

#print-model {
    position: absolute:
    bottom: 0px;
}

#model-controls .tooltip-inner {
    font-size: 16px;
    margin: .5em;
}




/*  three dimensional decription */
#threewrapper {
    height: 125px;
    width: 125px;
}
#threedim {
    background-image: url('../assets/cluster.png');
    background-repeat: no-repeat;
    background-position: top left; 
    width: 125px;
    height: 125px;
    padding: 0px;
    margin: 0px;
    position: absolute;
}

#threedim div {
    position: absolute;
    margin: 0px;
    padding: 0px;
}

#threedim #x {
    top: 45px;
    left: 16px;
}
#threedim #y {
    top: 90px;
    left: 55px;
}
#threedim #z {
    top: 30px;
    left: 78px;
}

#threedim #units {
    top: 1px;
    left: 1px;
    color: #999;
}

#threedim .dimension-label {
    display: none;
}

#threedim .current {
    font-weight: bold;
    color: #000;
}
